@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }

  .img-shadow-sm {
    filter: drop-shadow(10px 30px 15px #303030);
  }

  .input-style {
    @apply rounded-md border-[1px] border-gray-400 px-4 py-2 focus:border-primary focus:outline-none;
  }

  .primary-btn {
    @apply rounded-md bg-primary px-4 py-2 text-white hover:bg-primaryDark;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 4px; /* go lower than 6px */
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(136 136 136 / 60%);
}
